.block_ {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    display: block;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always
    }
.block_5 {
    display: block;
    font-size: 1.66667em;
    line-height: 1.15;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.text_ {
    color: #000;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

